---
subject: Mailer
---
<container>

  <table border="0" cellpadding="0" cellspacing="0" bgcolor="#FBF7F1">

      <tr>
          <td style="width:100%; background-color: #E20613; text-align: center; padding-top:22px; padding-bottom: 22px;">
              <a href="#" style="color:white; font-size:13px;" class="font-light" >view online version</a>
          </td>
      </tr>

    <tr>
      <td align="center" style="height:100%; width:100%;">
        <img src="../assets/img/mosaic-background.png" style="display: block;" alt="RE: Think, Discover, Create" />
      </td>
    </tr>


    <tr>
      <td class="font-regular" align="center" style="padding: 30px 40px 10px 40px; font-size: 18px;">
        SAVE THE DATE AND THE DATE COULD SAVE YOU
      </td>
    </tr>

    <tr>
      <td class="font-bold" align="center" style="padding: 10px 40px 10px 40px; font-size: 15px;">
        Dear Karabo Ngoatle
      </td>
    </tr>

    <tr>
      <td  align="center" style="padding: 10px 40px 0px 40px; ">
        <p class="font-regular" style="font-size: 13px;">In a world that changes by the nano-second, we invite you to rediscover,
        review and rethink how you approach your business, your partners
        and your impact on the communities around you.
        </p>

        <p class="font-regular" style="font-size: 13px;">Join us for a day of Singularity University's most exceptional speakers
        and prominent thought-leaders</p>
      </td>
    </tr>

    <tr>
      <td style="padding: 10px 40px 10px 40px; font-size: 13px;" class="font-regular">
        DATE: 20 July 2016<br>
        VENUE: <span class="font-bold">Kyalami race track</span>
      </td>
    </tr>

    <tr>
      <td align="center" style="padding: 10px 40px 20px 40px; font-size: 13px;" class="font-bold">
        Invitation to follow
      </td>
    </tr>


   <!----------------------------------------- BUTTONS -------------------------------------->

      <tr>
          <td style="padding: 10px 40px 15px 40px;" id="follow-btns">
              <table border="0" cellpadding="0" cellspacing="0" width="100%" align="center">

              <tr>

                <td valign="top" >
                    <a href="#" style="background-color:#404040; border:1px solid #404040; border-radius:3px; color:#ffffff; display:inline-block; font-size:12px; line-height:40px; text-align:center; text-decoration:none; padding: 0px 10px 0px 10px; margin-right: 5px; margin-bottom: 5px;" class="font-light">
                        <img src="../assets/img/ical-icon.png" style="display: inline-block; height:20px; width: 20px; vertical-align: middle; padding-right: 5px;" alt="iCal icon"/>
                        Add to iCal
                    </a>

                    <a href="#" style="background-color:#404040; border:1px solid #404040; border-radius:3px; color:#ffffff; display:inline-block; font-size:12px; line-height:40px; text-align:center; text-decoration:none; padding: 0px 10px 0px 10px; margin-right: 5px; margin-bottom: 5px;" class="font-light">
                        <img src="../assets/img/google-cal-icon.png" style="display: inline-block; height:20px; width: 20px; vertical-align: middle; padding-right: 5px;" alt="Google Calendar icon"/>
                        Add to Google Calendar
                    </a>

                    <a href="#" style="background-color:#404040; border:1px solid #404040; border-radius:3px; color:#ffffff; display:inline-block; font-size:12px; line-height:40px; text-align:center;text-decoration:none; padding: 0px 10px 0px 10px; margin-right: 5px; margin-bottom: 5px; " class="font-light">
                        <img src="../assets/img/outlook-icon.png" style="display: inline-block; height:20px; width: 20px; vertical-align: middle; padding-right: 5px;" alt="Outlook Calendar icon"/>
                        Add to Outlook Calendar
                    </a>
                </td>

                <td valign="top">

                </td>

                <td valign="top">

                </td>
              </tr>
            </table>
          </td>
      </tr>

      <!----------------------------------------- LOGOS -------------------------------------->

      <tr>
          <td style="padding: 0px 40px 0px 40px;">
              <table border="0" cellpadding="0" cellspacing="0" width="100%" >
                  <tr style="padding: 20px 10px 30px 10px;" >
                      <td align="center" style="text-align: center; border-top:2px solid #F1E3D5; border-right:2px solid #F1E3D5; padding: 20px 20px 0px 20px;" class="font-regular">
                          Hosted By
                          <img src="../assets/img/absa-logo.png" style="padding: 20px 0px 5px 0px;" alt="ABSA"/>

                      </td>

                      <td align="center" style="text-align: center; border-top:2px solid #F1E3D5; border-right:2px solid #F1E3D5; padding: 20px 20px 0px 20px;" class="font-regular">
                          Presented
                          <img src="../assets/img/su-logo.png" style="padding: 20px 0px 5px 0px;" alt="Singularity University"/>

                      </td>

                      <td align="center" style="text-align: center; border-top:2px solid #F1E3D5; padding: 20px 20px 0px 20px;" class="font-regular">
                          In association
                          <img src="../assets/img/deloitte-logo.png" style="padding: 20px 0px 5px 0px;" alt="Deloitte"/>

                      </td>
                  </tr>
              </table>
          </td>
      </tr>


      <!-----------------------------------------FOOTER-------------------------------------->


      <tr>
          <td  width="100%" style="text-align: center; padding: 30px 40px 30px 40px; color:#6BB7E5; font-size: 22px;"  align="center" class="font-regular">
              #FutureProof
          </td>
      </tr>


      <tr>
          <td  width="100%" style="text-align: center; padding: 0px 80px 0px 80px; font-size: 10px;"  align="center" class="font-regular">
              Copyright © *|CURRENT_YEAR|* *|LIST:COMPANY|*,

          </td>
      </tr>
      <tr>
          <td  width="100%" style="text-align: center; padding: 0px 80px 5px 80px; font-size: 10px;"  align="center" class="font-regular">
              *|IFNOT:ARCHIVE_PAGE|* *|LIST:DESCRIPTION|*
          </td>
      </tr>


      <tr>
          <td  width="100%" style="text-align: center; padding: 0px 80px 0px 80px; font-size: 10px;"  align="center" class="font-regular">
              Our mailing address is:
          </td>
      </tr>
      <tr>
          <td  width="100%" style="text-align: center; padding: 0px 80px 5px 80px; font-size: 10px;"  align="center" class="font-regular">
              *|HTML:LIST_ADDRESS_HTML|* *|END:IF|*
          </td>
      </tr>

      <tr>
          <td  width="100%" style="text-align: center; padding: 0px 80px 60px 80px; font-size: 10px; color: black;"  align="center" class="font-regular">
              <a href="#" style="padding-right: 5px; color: black;">unsubscribe from this list </a>
              <a href="#" style="padding-left: 5px; color: black;">update subscription preferences</a> 
          </td>
      </tr>


  </table>




</container>
